# ===============================
# Django specific
# ===============================

# Django files
db.sqlite3
staticfiles/
media/

# Django cache
*.pyc
__pycache__/

# Migrations cache
*/migrations/__pycache__/

# Environment files
.env
.env.*

# Logs
*.log

# PyTorch cache
*.pt
*.pth

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Virtual environments
venv/
env/
.venv/
